*.aux
*.ent
*.log
*.swp
*.toc
docs/functional-spec/res/HighLevelDesign-eps-converted-to.pdf
docs/functional-spec/res/SystemArchitecture-eps-converted-to.pdf
docs/functional-spec/res/gannt-chart-eps-converted-to.pdf
